---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import { Content as Home } from "./home.md";
import getTags from "../scripts/getTags";

const posts = await Astro.glob("../posts/*.md");

const tags = getTags(posts);
---

<!doctype html>
<html lang="fr-fr">
	<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<div id="soustitre">
				LOMR, le partenaire cybersécurité des TPE/PME
			</div>
			<div id="etapes-container">	
				<div class="etape">
					<h3>Étape 1</h3>
					<p>
						Lorem ipsum dolor sit amet. Ut error Quis ut molestiae officia id doloremque deleniti et consectetur enim in labore perspiciatis et praesentium totam. In fugit vitae qui soluta libero qui corporis dolorem. Et dignissimos itaque eos voluptatem minus qui dolor perspiciatis est sapiente ratione ut dolores facilis eum nesciunt dolorem. Aut magni cupiditate ea dolorem dicta nam pariatur fugit sit ducimus consequatur et voluptatem asperiores qui nemo fugiat ut quia dolore.
Et omnis ullam qui expedita quidem qui nihil unde et nesciunt impedit. Rem molestiae internos sed harum doloremque 33 facilis error non consequatur corporis.
Et laudantium quas et.
					</p>
				</div>
				<div class="etape">
					<h3>Étape 2</h3>
					<p>
						Lorem ipsum dolor sit amet. Ut error Quis ut molestiae officia id doloremque deleniti et consectetur enim in labore perspiciatis et praesentium totam. In fugit vitae qui soluta libero qui corporis dolorem. Et dignissimos itaque eos voluptatem minus qui dolor perspiciatis est sapiente ratione ut dolores facilis eum nesciunt dolorem. Aut magni cupiditate ea dolorem dicta nam pariatur fugit sit ducimus consequatur et voluptatem asperiores qui nemo fugiat ut quia dolore.
Et omnis ullam qui expedita quidem qui nihil unde et nesciunt impedit. Rem molestiae internos sed harum doloremque 33 facilis error non consequatur corporis.
Et laudantium quas et.
					</p>
				</div>
				<div class="etape">
					<h3>Étape 3</h3>
					<p>
						Lorem ipsum dolor sit amet. Ut error Quis ut molestiae officia id doloremque deleniti et consectetur enim in labore perspiciatis et praesentium totam. In fugit vitae qui soluta libero qui corporis dolorem. Et dignissimos itaque eos voluptatem minus qui dolor perspiciatis est sapiente ratione ut dolores facilis eum nesciunt dolorem. Aut magni cupiditate ea dolorem dicta nam pariatur fugit sit ducimus consequatur et voluptatem asperiores qui nemo fugiat ut quia dolore.
Et omnis ullam qui expedita quidem qui nihil unde et nesciunt impedit. Rem molestiae internos sed harum doloremque 33 facilis error non consequatur corporis.
Et laudantium quas et.
					</p>
				</div>
			</div>	
		</main>
		<Footer />
	</body>
</html>

<style>
	#soustitre {
		width: 100%;
		background: var(--lomr-gradient);
		border-radius: 50px;
		padding: 1.5rem;
		margin: 0rem 1.6vw;
		font-size: 4.5rem;
		font-weight: bold;
		text-align: center;
		align-self: flex-start;
	}

	#etapes-container {
		display: flex;
		flex: 1 1;
		flex-wrap: nowrap;
		width: 100%;
		margin-top: 0.5rem;
	}

	.etape {
		flex-grow: 1;
		background-color: var(--dark-gray);
		margin: 1.6vw;
		padding: 2.5vw;
		border-radius : 50px;
		width: 33%;
	}

	.etape h3 {
		font-size: 1.6rem;		
		font-weight: bold;
		margin: 0;
	}

	.etape p {
		font-size: 1rem;
		font-weight: bold;
	}

	@media (max-width: 768px) {

		#soustitre {
			padding: 0.5rem;
			font-size: 2.5rem;
		}

		#etapes-container {
			flex-wrap: wrap;
		}

		.etape {
			flex-grow: 1;
			background-color: var(--dark-gray);
			margin: 1rem 1.6vw;
		}
	}
	
</style>