---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import { Content as Mentions } from "./md/mentions-legales.md";

---

<!doctype html>
<html lang="fr-fr">
	<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	<body>
		<Header title={SITE_TITLE} />
		<main>
            <content>
			    <Mentions />
            </content>
		</main>
		<Footer />
	</body>
</html>

<style>
    content {
        width: 100vh;
        font-size: large;
		background-color: var(--black-alpha);
    }
</style>