/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */
:root {
	--white: #efefef;
	--black: #030303;
	--gray: #6b6b6b;

	--dark-gray: #262B32;
	--lomr-gradient: linear-gradient(to right, #00cbff 0%, #fc00ff  100%);
}

html,
body {
	height: 100%;
	margin: 0;
	display: flex;
	flex-direction: column;
	word-wrap: break-word;
	overflow-wrap: break-word;
	background-color: var(--black);
}

html,
body,
button,
a,
code {
	font-family: "Advent Pro", Arial, Helvetica, sans-serif;	
	color: var(--white);
}

body {
	display: flex;
	flex-direction: column;
}

main {
	flex: 1;
	display: flex;
	background-image: url(LOMR_CG.png);
	background-color: rgba(0,0,0,0.6);
	background-blend-mode: darken;

	padding: 2rem 5rem;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: flex-start;
	align-items: stretch;
}

footer {
	flex-shrink: 0;
}

@media (max-width: 600px) {
	nav a:not(:last-child) {
		padding: 0;
	}
}
