---
const { text } = Astro.props;
---

<button>
    {text}

</button>


<style>
    button {
        border-radius: 100px;
        border-width: 0px;
        display: inline-block;
        padding: 5px 25px;
        background-image: var(--lomr-gradient)
    }
</style>


 