---
const today = new Date();
---

<footer>
	<div id="botlogo"><a href="/"><img src="/LogoBLANC.png" alt="Logo LOMR Cybersécurité"></a></div>
	<div id="botlinks">
		<a href="/mentions-legales">Mentions légales</a>
		<a href="/cgv">CGV</a>
		<a href="https://www.linkedin.com/company/lomr-cyber/" target="_blank" rel="noopener noreferrer"><img src="/linkedin.png" alt="logo linkedin"> </a>
	</div>
</footer>
<style>

	#botlogo {
		margin-right: auto;
	}

	#botlogo img{
		max-height: 5vh;
	}

	#botlinks {
		font-size: calc(10px + 1vw);
		display: flex;
    	gap: 2.5vw;
	}

	#botlinks a {
		text-decoration: none;
	}

	#botlinks img {
		max-height: 0.8em;
	}
	
	footer {
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
		justify-content: space-between;
		min-height: 4vw;
		background-color: var(--dark-gray);
		padding: 0px 2.5vw;
	}
</style>
