---
const today = new Date();
---

<footer>
	<div id="botlogo"><a href="/"><img src="/LogoBLANC.png"></a></div>
	<div id="botlinks">
		<a href="/mentions-legales">Mentions légales</a>
		<a href="/cgv">CGV</a>
	</div>
</footer>
<style>

	#botlogo {
		margin-right: auto;
	}

	#botlogo img{
		max-height: 2.5rem;
	}

	#botlinks {
		font-size: 1.5rem;
		display: flex;
    	gap: 3rem;
	}

	#botlinks a {
		text-decoration: none;
	}
	
	footer {
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
		justify-content: space-between;
		min-height: 5rem;
		background-color: var(--dark-gray);
		padding: 0px 3rem;
	}
</style>
