---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import Button from "./Button.astro";
---

<header>
	<div class="header-section">
			<img id="toplogo" src="/LogoCarre.jpg">
			<nav>
				<HeaderLink href="/">Accueil</HeaderLink>
				<HeaderLink href="/qui-suis-je">Qui suis-je ?</HeaderLink>
				<HeaderLink href="/solutions">Solutions</HeaderLink>
				<HeaderLink href="/blog">Actualités</HeaderLink>
			</nav>
			<Button text="coucou"/>
	</div>
	
</header>


<style>
	#toplogo {
		max-height: 100px;
		display: inline-block;
	}

	nav { 
		display: inline-block;
	}

	h2 {
		margin: 0.5em 0;
	}
</style>
