---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import Button from "./Button.astro";
---

<header>
	<div class="header-section">
			<div id="toplogo" class="navcolumn" ><a href="/"><img src="/LogoBLANC.png"></a></div>
			<nav class="navcolumn">
				<HeaderLink href="/">Accueil</HeaderLink>
				<HeaderLink href="/qui-suis-je">Qui suis-je ?</HeaderLink>
				<HeaderLink href="/solutions">Solutions</HeaderLink>
				<HeaderLink href="/blog">Actualités</HeaderLink>
				
			</nav>
			<div id="contact" class="navcolumn"><HeaderLink href="/blog"></HeaderLink><Button text="CONTACT"/></HeaderLink></div>
			<div class="separator"></div>
	</div>
	
</header>


<style>
	header {
		background-color: var(--black);
		width: 100%;
		position: relative;
	}

	.header-section {
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
		justify-content: center;
	}

	#toplogo {		
		display: flex;
		min-width: 2em;
	}

	#toplogo img{
		max-height: 6em;
	}

	#contact {
		display: flex;
		margin-right: 20px;
	}

	nav { 
		min-width: 60%;
		text-align: center;
	}

	nav a {
		margin: 25px 0;
		font-size: 2em;		
        font-weight: bold;
	}
	nav a:not(:last-child) {
		padding: 0 24px 0 0;
	}

	header .separator {
		background: var(--lomr-gradient);
		height: 6px;
		width: 100%;
	}

	

	

	

	

	@media (max-width: 768px) {
		
}
	
</style>
