---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import Button from "./Button.astro";

---

<header>
	<div class="header-section">
			<div id="toplogo" class="navcolumn"><a href="/"><img src="/LogoBLANC_opti.webp" alt="Logo LOMR Cybersécurité"></a></div>
			
			<nav class="navcolumn">
				<HeaderLink href="/">Accueil</HeaderLink>
				<HeaderLink href="/qui-suis-je/">Qui suis-je ?</HeaderLink>
				<HeaderLink href="/solutions/">Solutions</HeaderLink>
				<HeaderLink href="/blog/">Actualités</HeaderLink>
				
			</nav>
			<button class="menu-toggle" id="menu-toggle" aria-label="Toggle menu">
				<span></span>
				<span></span>
				<span></span>
			</button>
			<div id="contact" class="navcolumn"><a href="/contact/"><Button text="CONTACT"/></a></div>
			

	</div>
	<div id="active">
		<div id="hide-left" class="hide"></div>
		<div id="triangle"></div>
		<div id="hide-right" class="hide"></div>
	</div>
	<div class="separator"></div>
</header>

<script>

function calcTrianglePos() {
	
	const triangle = document.getElementById('triangle');
	const leftHide = document.getElementById('hide-left');
	const rightHide = document.getElementById('hide-right');
	const active = document.querySelector("nav .active");
	
	let newX = 0;
	if(triangle && active && leftHide && rightHide)
	{
		newX = active.getBoundingClientRect().left 
			+ window.scrollX 
			+ (active.clientWidth-parseInt(window.getComputedStyle(active).paddingRight))/2 
			- triangle.getBoundingClientRect().width/2;

		triangle.style.left = newX+"px";
		triangle.style.visibility  = "visible";

		leftHide.style.width = newX+"px";
		rightHide.style.left = (newX+triangle.getBoundingClientRect().width)+"px";
		rightHide.style.width = (window.innerWidth-newX-triangle.getBoundingClientRect().width)+"px";
	}
		
}

window.addEventListener('load', (event) => {
	calcTrianglePos();
});

window.addEventListener("resize", (event) => {
	calcTrianglePos();
});

document.getElementById('menu-toggle')!.addEventListener('click', () => {
	document.querySelector('nav')!.classList.toggle('open');
});

</script>

<style>

#active {
	height: 1.25vmax;
	width: 100%;		
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	background: var(--lomr-gradient);
}

.hide {
	position: absolute;
	background-color: black;
	width: 100%;
	height: 1.25vmax;
}

#triangle{
	position: absolute;
	border-right : 1.25vmax solid black;
	border-bottom : 1.25vmax solid transparent;
	border-left : 1.25vmax solid black;
	visibility: hidden;
}

header {
	background-color: var(--black);
	width: 100%;
	position: relative;
}

.header-section {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	transform: translateY(0.5em);
	position: relative;
	z-index: 1;
}

#toplogo {		
	display: flex;
}

#toplogo img{
	max-height: 10vh;
}

#contact {
	display: flex;
	margin-right: 1vw;
}

nav { 
	min-width: 60%;
	text-align: center;
}

nav a {
	margin: 1.3vh 0;
	font-size: 2rem;		
	font-weight: bold;
	text-decoration: none;
}
nav a:not(:last-child) {
	padding: 0 1.25vw 0 0;
}

header .separator {
	background: var(--lomr-gradient);
	height: 10px;
	width: 100%;
}

.menu-toggle {
	display: none;
	flex-direction: column;
	justify-content: space-around;
	width: 3vmax;
	height: 3vmax;
	background: transparent;
	border: none;
	cursor: pointer;
	padding: 0;
}

.menu-toggle span {
	width: 3vmax;
	height: 2px;
	background: white;
	border-radius: 2px;
}


@media (max-width: 768px) {
	.header-section {
		justify-content: space-between;
	}

	nav {
		display: none;
		flex-direction: column;
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		background: var(--black);
		text-align: left;
		padding: 10px 10px;
	}

	nav.open {
		display: flex;
	}

	nav a {
		padding: 10px 20px;
		font-size: 1.5em;
	}

	.menu-toggle {
		display: flex;
	}	

	#toplogo img{
		max-height: 4em;
	}

	#contact {
		font-size: small;
	}

	#active {
		visibility: collapse;
	}

	nav { 
		min-width: 60%;
		text-align: center;
	}

	nav a {
		margin: 25px 0;
		font-size: 2rem;		
		font-weight: bold;
		text-decoration: none;
		padding: 0 24px 0 0;
	}
}
	
</style>
